<ion-header>
    <ion-toolbar>
        <ion-title>
            {{oldData.name === '' ? 'Agregar rúbrica'
                                  : 'Modificar rúbrica'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text" formControlName="name">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Valor</ion-label>
            <ion-input type="tel" maxlength="3" formControlName="percentage">
            </ion-input>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!data.valid">
            {{oldData.name === '' ? 'Agregar' : 'Modificar'}}
        </button>
    </form>
</ion-content>
