<ion-header>
    <ion-toolbar>
        <ion-title>Rúbricas</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-row class="padd">
        <ion-col width-75>
            <ion-list-header>Rúbrica</ion-list-header>
        </ion-col>
        <ion-col width-25 class="center">
            <ion-list-header>Puntos</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding class="table-row" *ngFor="let rubric of rubrics"
                          #slidingItem>
            <ion-item>
                <ion-row>
                    <ion-col width-75>
                        {{rubric.name}}
                    </ion-col>
                    <ion-col width-25 class="center">
                        <ion-badge color="primary">
                            {{rubric.percentage}}
                        </ion-badge>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="right">
                <button color="dark" ion-button icon-only outline
                        (click)="modifyRubric(rubric, slidingItem)">
                    <ion-icon name="create"></ion-icon>
                </button>
                <button color="danger" ion-button icon-only outline
                        (click)="deleteRubric(rubric, slidingItem)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-item class="fake-tabbar">
        <ion-row>
            <ion-col width-75 class="bigger-font">
                Total
            </ion-col>
            <ion-col width-25 class="center">
                <ion-badge *ngIf="total != 100" color="danger"
                           class="bigger-font">
                    {{total}}
                </ion-badge>
                <ion-badge *ngIf="total == 100" color="perf"
                           class="bigger-font">
                    {{total}}
                </ion-badge>
            </ion-col>
        </ion-row>
    </ion-item>
</ion-footer>
