page-rubrics {
    .padd {
        padding-left: 16px;
        padding-right: 16px;
    }

    .center {
        text-align: center;
    }

    .fake-tabbar {
        background-color: #f8f8f8;
        border-top-color: rgba(0, 0, 0, 0.3);
        border-top-style: solid;
        border-top-width: 1px;
        height: 42px;
    }

    .bigger-font {
        font-size: 20px;
    }
}
