<ion-header>
    <ion-toolbar>
        <ion-title>
            {{oldData.score ? 'Modificar calificación'
                            : 'Seleccionar calificación'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="oldData.score">
            <button ion-button icon-only (click)="remove()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-label stacked>Calificación</ion-label>
            <ion-input type="tel" maxlength="3" formControlName="score">
            </ion-input>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!data.valid">
            {{oldData.score ? 'Modificar' : 'Seleccionar'}}
        </button>
    </form>
</ion-content>
