<ion-header>
    <ion-toolbar>
        <ion-title>
            {{data.student_code}} - {{data.name}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-tabs>
        <ion-tab [root]="attendanceTab" [rootParams]="data.enrolled_id"
                 tabIcon="calendar">
        </ion-tab>
        <ion-tab [root]="activitiesTab" [rootParams]="data.enrolled_id"
                 tabIcon="create">
        </ion-tab>
    </ion-tabs>
</ion-content>
