<ion-header>
    <ion-row>
        <ion-col width-50 class="center">
            <ion-list-header>Día</ion-list-header>
        </ion-col>
        <ion-col width-50 class="center">
            <ion-list-header>Asistencia</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding>
    <ng-container *ngFor="let att of atts">
        <ion-row *ngIf="!typeButtons ||
                        (att.type == 'A' && checkFlag(typeButtons, 1)) ||
                        (att.type == 'R' && checkFlag(typeButtons, 2)) ||
                        (att.type == 'F' && checkFlag(typeButtons, 4))"
                 class="table-row">
            <ion-col width-50 class="center">
                {{formatDate(att.date)}}
            </ion-col>
            <ion-col width-50 class="center">
                <ion-row *ngIf="att.num_sessions == 2">
                    <ion-col width-33 class="center">
                        <button ion-button clear
                                [color]="att.type == 'A' ? 'perf' : 'light'"
                                (click)="updateAtt(att, 'A')">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col width-33 class="center">
                        <button ion-button clear
                                [color]="att.type == 'R' ? 'warning' : 'light'"
                                (click)="updateAtt(att, 'R')">
                            <ion-icon name="timer"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col width-33 class="center">
                        <button ion-button clear
                                [color]="att.type == 'F' ? 'danger' : 'light'"
                                (click)="updateAtt(att, 'F')">
                            <ion-icon name="close-circle"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="att.num_sessions == 1">
                    <ion-col width-50 class="center">
                        <button ion-button clear
                                [color]="att.type == 'A' ? 'perf' : 'light'"
                                (click)="updateAtt(att, 'A')">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col width-50 class="center">
                        <button ion-button clear
                                [color]="att.type == 'F' ? 'danger' : 'light'"
                                (click)="updateAtt(att, 'F')">
                            <ion-icon name="close-circle"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ng-container>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col width-33 class="center">
            <button ion-button clear icon-left
                    [color]="checkFlag(typeButtons, 1) ? 'perf'
                                                       : 'light'"
                    (click)="filterClicked(1)">
                <ion-icon name="checkmark-circle"
                          [color]="checkFlag(typeButtons, 1) ? 'perf'
                                                             : 'light'">
                </ion-icon>
                {{getStat('A')}}% ({{stats['A']}})
            </button>
        </ion-col>
        <ion-col>
            <button ion-button clear icon-left
                    [color]="checkFlag(typeButtons, 2) ? 'warning'
                                                       : 'light'"
                    (click)="filterClicked(2)">
                <ion-icon name="timer"
                          [color]="checkFlag(typeButtons, 2) ? 'warning'
                                                             : 'light'">
                </ion-icon>
                {{getStat('R')}}% ({{stats['R']}})
            </button>
        </ion-col>
        <ion-col>
            <button ion-button clear icon-left
                    [color]="checkFlag(typeButtons, 4) ? 'danger'
                                                       : 'light'"
                    (click)="filterClicked(4)">
                <ion-icon name="close-circle"
                          [color]="checkFlag(typeButtons, 4) ? 'danger'
                                                             : 'light'">
                </ion-icon>
                {{getStat('F')}}% ({{stats['F']}})
            </button>
        </ion-col>
    </ion-row>
</ion-footer>
