page-student-attendance {
    ion-icon {
        font-size: 30px;
    }

    ion-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .table-row {
        align-items: center;
        border-bottom: 0.55px solid #c8c7cc;
    }

    .center {
        text-align: center;
    }
}
