<ion-header>
    <ion-navbar>
        <ion-title>
            Examen extraordinario
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-row class="table-header">
        <ion-col width-10 class="center">
            <ion-list-header>Código</ion-list-header>
        </ion-col>
        <ion-col width-70>
            <ion-list-header>Nombre</ion-list-header>
        </ion-col>
        <ion-col width-20 class="center">
            <ion-list-header>Extraordinario</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-item class="table-row" *ngFor="let ext of exts"
                  [ngClass]="ext.valid ? 'valid' : 'invalid'">
            <ion-row class="align-center">
                <ion-col width-10>
                    {{ext.student_code}}
                </ion-col>
                <ion-col width-70>
                    {{ext.name}}
                </ion-col>
                <ion-col width-20 class="center">
                    <button ion-button clear
                            *ngIf="ext.ext_score != null"
                            [color]="ext.ext_score < 60 ? 'warning' : 'perf'"
                            class="grade-font"
                            (click)="setCustomScore(ext)">
                        {{ext.ext_score}}
                    </button>
                    <button ion-button clear color="warning"
                            *ngIf="ext.ext_score == null"
                            class="grade-font"
                            (click)="setCustomScore(ext)">
                        -
                    </button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
