<ion-header>
    <ion-toolbar>
        <ion-title>
            Importando estudiantes
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-textarea placeholder="Código,Nombre"
                          formControlName="studentsStr">
            </ion-textarea>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!data.valid">
            Importar
        </button>
    </form>
</ion-content>
