<ion-header>
    <ion-toolbar>
        <ion-title>
            {{oldData.start ? 'Modificar horario' : 'Seleccionar horario'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="oldData.start">
            <button ion-button icon-only (click)="remove()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-label>Inicio</ion-label>
            <ion-datetime displayFormat="HH" pickerFormat="HH"
                          hourValues="07, 08, 09, 10, 11, 12, 13, 14, 15, 16,
                                      17, 18, 19, 20"
                          doneText="OK" cancelText="Cancelar"
                          formControlName="start"
                          (ionChange)="updateEnd()">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Fin</ion-label>
            <ion-datetime displayFormat="HH" pickerFormat="HH"
                          hourValues="08, 09, 10, 11, 12, 13, 14, 15, 16, 17
                                      18, 19, 20, 21"
                          doneText="OK" cancelText="Cancelar"
                          formControlName="end"
                          (ionChange)="updateStart()">
            </ion-datetime>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!data.valid">
            {{oldData.start ? 'Modificar' : 'Seleccionar'}}
        </button>
    </form>
</ion-content>
