<ion-content>
    <ion-card *ngFor="let act of activities"
              (click)="regDeliveries(act)" (press)="actionsActivity(act)">
        <ion-item>
            <h1>{{act.name}}</h1>
            <h2>{{act.topic}}</h2>
            <p>Fecha de entrega: {{formatDate(act.due_date)}}</p>
            <ion-icon *ngIf="act.type == 1" item-right
                      name="trophy" color="primary">
            </ion-icon>
            <ion-icon *ngIf="act.type == 2" item-right
                      name="ribbon" color="primary">
            </ion-icon>
        </ion-item>
    </ion-card>
</ion-content>
