<ion-header>
    <ion-navbar>
        <ion-title>
            {{dateStr}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-row class="table-header">
        <ion-col width-20 class="center">
            <ion-list-header>Código</ion-list-header>
        </ion-col>
        <ion-col width-60>
            <ion-list-header>Nombre</ion-list-header>
        </ion-col>
        <ion-col width-20 class="center">
            <ion-list-header>Asistencia</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-item class="table-row" *ngFor="let att of atts">
            <ion-row class="align-center">
                <ion-col width-20>
                    {{att.student_code}}
                </ion-col>
                <ion-col width-60>
                    {{att.name}}
                </ion-col>
                <ion-col width-20>
                    <ion-row *ngIf="classData.num_sessions == 2">
                        <ion-col width-33 class="center">
                            <button ion-button clear *ngIf="att.type == 'A'"
                                    color="perf">
                                <ion-icon name="checkmark-circle"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="att.type != 'A'"
                                    color="light"
                                    (click)="updateAtt(att, 'A')">
                                <ion-icon name="checkmark-circle"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col width-33 class="center">
                            <button ion-button clear *ngIf="att.type == 'R'"
                                    color="warning">
                                <ion-icon name="timer"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="att.type != 'R'"
                                    color="light"
                                    (click)="updateAtt(att, 'R')">
                                <ion-icon name="timer"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col width-33 class="center">
                            <button ion-button clear *ngIf="att.type == 'F'"
                                    color="danger">
                                <ion-icon name="close-circle"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="att.type != 'F'"
                                    color="light"
                                    (click)="updateAtt(att, 'F')">
                                <ion-icon name="close-circle"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="classData.num_sessions == 1">
                        <ion-col width-50 class="center">
                            <button ion-button clear *ngIf="att.type == 'A'"
                                    color="perf">
                                <ion-icon name="checkmark-circle"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="att.type != 'A'"
                                    color="light"
                                    (click)="updateAtt(att, 'A')">
                                <ion-icon name="checkmark-circle"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col width-50 class="center">
                            <button ion-button clear *ngIf="att.type == 'F'"
                                    color="danger">
                                <ion-icon name="close-circle"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="att.type != 'F'"
                                    color="light"
                                    (click)="updateAtt(att, 'F')">
                                <ion-icon name="close-circle"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
