page-attendance {
    .table-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    ion-label {
        margin-right: 0px!important;
    }

    .item-inner {
        padding-right: 0px!important;
    }

    .table-row {
        border-bottom: 0.55px solid #c8c7cc!important;
        height: 53px;
    }

    .align-center {
        align-items: center;
    }

    .padd-left {
        padding: 5px 5px 5px 30px;
    }

    .center {
        text-align: center;
    }
}
