#sectionDiv {
    margin-top: 100px;
}

ion-modal.schedule-modal {
    .modal-wrapper {
        width: 400px;
        height: 180px;
        top: calc(50% - (180px/2));
        left: calc(50% - (400px/2));
    }
}

ion-modal.student-form-modal {
    .modal-wrapper {
        height: 230px;
        top: calc(50% - (230px/2));
    }
}

ion-modal.subject-form-modal {
    .modal-wrapper {
        height: 230px;
        top: calc(50% - (230px/2));
    }
}

ion-modal.section-form-modal {
    .modal-wrapper {
        height: 485px;
        top: calc(50% - (485px/2));
    }
}

ion-modal.activity-form-modal {
    .modal-wrapper {
        height: 348px;
        top: calc(50% - (348px/2));
    }
}

ion-modal.class-form-modal {
    .modal-wrapper {
        height: 340px;
        top: calc(50% - (340px/2));
    }
}

ion-modal.score-form-modal {
    .modal-wrapper {
        width: 400px;
        height: 160px;
        top: calc(50% - (160px/2));
        left: calc(50% - (400px/2));
    }
}

ion-modal.rubric-form-modal {
    .modal-wrapper {
        height: 230px;
        width: 400px;
        top: calc(50% - (230px/2));
        left: calc(50% - (400px/2));
    }
}
