<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-item-group>
            <ion-item-divider color="light">Navegación</ion-item-divider>
            <button ion-item (click)="openNow()">
                <ion-icon name="locate-outline"></ion-icon>
                Ahora
            </button>
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
            <ng-container *ngIf="crrSct.isActive()">
                <ion-item-divider id="sectionDiv">
                    {{crrSct.data().subject_key}} -
                    {{crrSct.data().code_letter}}-{{crrSct.data().code_number}}
                </ion-item-divider>
                <ion-item
                   *ngFor="let i of getSchKeys(crrSct.data().schedule)">
                    {{i}}: {{crrSct.data().schedule[i].start}} -
                           {{crrSct.data().schedule[i].end}}
                </ion-item>
                <button ion-item (click)="importStudents()">
                    Importar estudiantes
                </button>
                <button ion-item (click)="createProgressReport()">
                    Reporte avance
                </button>
                <button ion-item (click)="createAttendanceReport()">
                    Reporte asistencias
                </button>
                <button ion-item (click)="createGradesReport()">
                    Reporte calificaciones
                </button>
            </ng-container>
        </ion-item-group>
    </ion-content>

    <ion-footer>
        <ion-item-group>
            <ion-item-divider color="light">Calendario</ion-item-divider>
            <ion-select [(ngModel)]="currCalendar" placeholder="Sin datos"
                        okText="OK" cancelText="Cancelar">
                <ion-option *ngFor="let cal of calendars" value={{cal}}>
                    {{cal}}
                </ion-option>
            </ion-select>
        </ion-item-group>
    </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
