<ion-header>
    <ion-navbar>
        <ion-title>
            {{data.subject_key}} - {{data.name}}
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="addSection()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let s of sections" (click)="openSection(s)"
                                         (press)="actionsSection(s)">
        <ion-item>
            <h1>{{s.code_letter}}-{{s.code_number}}</h1>
            <p ion-item *ngFor="let i of getKeys(s.schedule)">
                    {{i}}: {{s.schedule[i].start}} - {{s.schedule[i].end}}
            </p>
        </ion-item>
    </ion-card>
</ion-content>
