<ion-header>
    <ion-navbar>
        <ion-title>
            {{data.subject_key}} - {{data.code_letter}}-{{data.code_number}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only
                    *ngIf="currSectTab.getActive() != 'Classes'"
                    (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button icon-only
                    *ngIf="currSectTab.getActive() == 'Activities'"
                    (click)="configRubrics()">
                <ion-icon name="options"></ion-icon>
            </button>
            <button ion-button icon-only
                    *ngIf="currSectTab.getActive() == 'Students'"
                    (click)="showExtraordinary()">
                <ion-icon name="ios-warning-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-tabs selectedIndex={{selectedTab}}>
        <ion-tab [root]="studentsTab" [rootParams]="data.section_id"
                 tabIcon="people">
        </ion-tab>
        <ion-tab [root]="classesTab" [rootParams]="data.section_id"
                 tabIcon="calendar">
        </ion-tab>
        <ion-tab [root]="activitiesTab" [rootParams]="data"
                 tabIcon="create"></ion-tab>
    </ion-tabs>
</ion-content>
