<ion-header>
    <ion-row>
        <ion-col width-20 class="center">
            <ion-list-header>Código</ion-list-header>
        </ion-col>
        <ion-col width-60>
            <ion-list-header>Nombre</ion-list-header>
        </ion-col>
        <ion-col width-20 class="center">
            <ion-list-header>Calificación</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item-sliding class="table-row" *ngFor="let s of students"
                          [ngClass]="s.att_percent < 65 ? 'bye'
                                     : s.att_percent < 80 ? 'extra' : 'ord'"
                          (click)="openStudent(s)"
                          #slidingItem>
            <ion-item>
                <ion-row>
                    <ion-col width-20>
                        {{s.student_code}}
                    </ion-col>
                    <ion-col width-60>
                        {{s.name}}
                    </ion-col>
                    <ion-col width-20 class="center padd-left">
                        <ion-badge [color]="s.ext_score != null ? 'warning' :
                                            s.grade >= 60 ? 'perf' : 'danger'">
                            {{s.grade}}
                        </ion-badge>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="right">
                <button color="dark" ion-button icon-only outline
                        (click)="modifyStudent(s, slidingItem, $event)">
                    <ion-icon name="create"></ion-icon>
                </button>
                <button color="danger" ion-button icon-only outline
                        (click)="deleteStudent(s, slidingItem, $event)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
