page-students {
    ion-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .table-row {
        border-bottom: 0.55px solid #c8c7cc;
    }

    .padd-left {
        padding: 5px 5px 5px 30px;
    }

    .center {
        text-align: center;
    }

    .bye {
        border-left: 4px solid color($colors, danger);
    }

    .extra {
        border-left: 4px solid color($colors, warning);
    }
}
