<ion-header>
    <ion-toolbar>
        <ion-title>
            {{oldData.topic ? 'Modificar clase' : 'Datos clase'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select placeholder="Tipo" okText="OK" cancelText="Cancelar"
                        formControlName="type">
                <ion-option value="N">
                    Normal
                </ion-option>
                <ion-option value="D">
                    Descanso
                </ion-option>
                <ion-option value="V">
                    Vacaciones
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="data.value.type == 'N'">
            <ion-label floating>Tema</ion-label>
            <ion-input type="text" formControlName="topic"></ion-input>
        </ion-item>
        <ion-item *ngIf="data.value.type == 'N'">
            <ion-label floating>Instrumento</ion-label>
            <ion-input type="text" formControlName="instrument"></ion-input>
        </ion-item>
        <ion-item *ngIf="data.value.type == 'N'">
            <ion-label floating>Método</ion-label>
            <ion-input type="text" formControlName="method"></ion-input>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!formIsValid()">
            {{oldData.topic ? 'Modificar' : 'Aceptar'}}
        </button>
    </form>
</ion-content>
