<ion-header>
    <ion-navbar>
        <ion-title>Materias</ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let subj of subjects" (click)="openSubject(subj)"
                                            (press)="actionsSubject(subj)">
        <ion-item>
            <h1>{{ subj.name }}</h1>
            <p>Clave: {{ subj.subject_key }}</p>
        </ion-item>
    </ion-card>
</ion-content>
