<ion-header>
    <ion-navbar>
        <ion-title>
            {{actData.topic}} - {{actData.name}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-row class="table-header">
        <ion-col width-20 class="center">
            <ion-list-header>Código</ion-list-header>
        </ion-col>
        <ion-col width-60>
            <ion-list-header>Nombre</ion-list-header>
        </ion-col>
        <ion-col width-20 class="center">
            <ion-list-header>Calificación</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-item class="table-row" *ngFor="let dev of delivs">
            <ion-row class="align-center">
                <ion-col width-20>
                    {{dev.student_code}}
                </ion-col>
                <ion-col width-60>
                    {{dev.name}}
                </ion-col>
                <ion-col width-20>
                    <ion-row>
                        <ion-col width-33 class="center">
                            <button ion-button clear *ngIf="dev.score != 50"
                                    color="light"
                                    (click)="updateScore(dev, 50)">
                                <ion-icon name="star-half"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="dev.score == 50"
                                    color="warning"
                                    (click)="deleteScore(dev)">
                                <ion-icon name="star-half"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col width-33 class="center">
                            <button ion-button clear *ngIf="dev.score != 100"
                                    color="light"
                                    (click)="updateScore(dev, 100)">
                                <ion-icon name="star"></ion-icon>
                            </button>
                            <button ion-button clear *ngIf="dev.score == 100"
                                    color="perf"
                                    (click)="deleteScore(dev)">
                                <ion-icon name="star"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col width-33 class="center">
                            <button ion-button clear color="light"
                                    class="grade-font"
                                    *ngIf="dev.score == 50 || dev.score == 100"
                                    (click)="setCustomScore(dev)">
                                -
                            </button>
                            <button ion-button clear color="warning"
                                    class="grade-font"
                                    *ngIf="dev.score && dev.score < 60 &&
                                           dev.score != 50"
                                    (click)="setCustomScore(dev)">
                                {{dev.score}}
                            </button>
                            <button ion-button clear color="perf"
                                    class="grade-font"
                                    *ngIf="dev.score && dev.score >= 60 &&
                                           dev.score != 100"
                                    (click)="setCustomScore(dev)">
                                {{dev.score}}
                            </button>
                            <button ion-button clear color="warning"
                                    *ngIf="!dev.score"
                                    (click)="setCustomScore(dev)">
                                -
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
