page-deliveries {
    .table-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .icon {
        font-size: 25px;
    }

    .grade-font {
        font-size: 18px;
        font-weight: 500;
    }

    ion-label {
        margin-right: 0px!important;
    }

    .item-inner {
        padding-right: 0px!important;
    }

    .table-row {
        border-bottom: 0.55px solid #c8c7cc!important;
        height: 53px;
    }

    .align-center {
        align-items: center;
    }

    .center {
        text-align: center;
    }
}
