<ion-header>
    <ion-toolbar>
        <ion-title>
            {{oldData.topic ? 'Modificar actividad' : 'Agregar actividad'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="canBeExtra"
                    (click)="updateType(1)">
                <ion-icon name="trophy"
                          [color]="type != 1 ? 'shadow' : 'primary'">
                </ion-icon>
            </button>
            <button ion-button icon-only *ngIf="canChangeRubric"
                    (click)="updateType(2)">
                <ion-icon name="ribbon"
                          [color]="type != 2 ? 'shadow' : 'primary'">
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-label>Rúbrica</ion-label>
            <ion-select placeholder="Rúbrica" okText="OK" cancelText="Cancelar"
                        [disabled]="!canChangeRubric"
                        formControlName="rubric_id"
                        (ionChange)="checkExtraActs()">
                <ion-option *ngFor="let r of rubrics" value={{r.rubric_id}}>
                    {{r.name}} ({{r.percentage}}%)
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Tema</ion-label>
            <ion-input type="text" formControlName="topic"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Fecha de entrega</ion-label>
            <ion-datetime displayFormat="DD-MMMM"
                          pickerFormat="DD-MMMM-YYYY"
                          min={{section.start_date}} max={{section.end_date}}
                          doneText="OK" cancelText="Cancelar"
                          formControlName="due_date">
            </ion-datetime>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!data.valid">
            {{oldData.topic ? 'Modificar' : 'Agregar'}}
        </button>
    </form>
</ion-content>
