<ion-content>
    <!-- <ion-fab bottom right>
        <button ion-fab color="light" (click)="scrollToRelevant()">
            <ion-icon name="pin"></ion-icon>
        </button>
    </ion-fab> -->
    <ion-card *ngFor="let class of classes" [id]="class.date"
              (click)="clicked(class)" (press)="actionsClass(class)">
        <ion-item>
            <h1>{{formatDate(class.date)}}</h1>
        </ion-item>
        <ion-item *ngIf="class.type == 'N'">
            <h2>{{class.topic}}</h2>
            <p>Instrumento: {{class.instrument}}</p>
            <p>Método: {{class.method}}</p>
        </ion-item>
        <ion-item *ngIf="class.type == 'V'">
            <ion-icon name="game-controller-a"></ion-icon>
            <ion-icon name="sunny"></ion-icon>
            <ion-icon name="football"></ion-icon>
        </ion-item>
        <ion-item *ngIf="class.type == 'D'">
            <ion-icon name="beer"></ion-icon>
            <ion-icon name="beer"></ion-icon>
            <ion-icon name="beer"></ion-icon>
        </ion-item>
    </ion-card>
</ion-content>
