page-section-form {
    .margin-right {
        margin-right: 150px;
    }

    .margin-label-code {
        margin-right: 175px;
    }

    .margin-select-code {
        margin-right: 105px;
    }

    .schedule {
        font-size: 30px;
        color: #c8c7cc;
    }

    .schedule-active {
        font-size: 30px;
        color: color($colors, primary);
    }
}
