<ion-header>
    <ion-toolbar>
        <ion-title>
            {{oldData.start_date ? 'Modificar sección' : 'Agregar sección'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="data" (ngSubmit)="dismiss(data.value)">
        <ion-item>
            <ion-label class="margin-right">Calendario</ion-label>
            <ion-input type="tel" maxlength="4" placeholder="Año"
                       formControlName="calendar_year"
                       (change)="updateDateLimits()"></ion-input>
            <ion-select class="margin-right" placeholder="Letra"
                        okText="OK" cancelText="Cancelar"
                        formControlName="calendar_letter">
                <ion-option *ngFor="let l of letters" value={{l}}>
                    {{l}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label class="margin-label-code">Código</ion-label>
            <ion-select class="margin-select-code" placeholder="Letra"
                        okText="OK" cancelText="Cancelar"
                        formControlName="code_letter">
                <ion-option *ngFor="let l of letters" value={{l}}>
                    {{l}}
                </ion-option>
            </ion-select>
            <ion-input type="tel" maxlength="2"
                       placeholder="Número"
                       formControlName="code_number"
                       (change)="setCodePadd()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>NRC</ion-label>
            <ion-input type="tel" maxlength="5"
                       formControlName="nrc"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Fecha de inicio</ion-label>
            <ion-datetime displayFormat="DD-MMMM"
                          pickerFormat="DD-MMMM-YYYY"
                          min={{minStartDate}} max={{maxStartDate}}
                          doneText="OK" cancelText="Cancelar"
                          formControlName="start_date"
                          (ionChange)="updateEndDate()">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>Fecha de fin</ion-label>
            <ion-datetime displayFormat="DD-MMMM"
                          pickerFormat="DD-MMMM-YYYY"
                          min={{minEndDate}} max={{maxEndDate}}
                          doneText="OK" cancelText="Cancelar"
                          formControlName="end_date"
                          (ionChange)="updateStartDate()">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col width-16 *ngFor="let day of schedule_days">
                    <button ion-button clear
                            type="button" (click)="setSchedule(day)">
                        <p [id]="day"
                           [ngClass]="schedule[day] ? 'schedule-active'
                                                    : 'schedule'">
                            {{day}}
                        </p>
                    </button>
                </ion-col>
            </ion-row>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!data.valid ||
                                                           !scheduleSelected()">
            {{oldData.start_date ? 'Modificar' : 'Agregar'}}
        </button>
    </form>
</ion-content>
