<ion-header>
    <ion-row>
        <ion-col width-50 class="center">
            <ion-list-header>Actividad</ion-list-header>
        </ion-col>
        <ion-col width-50 class="center">
            <ion-list-header>Calificación</ion-list-header>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-item class="table-row" *ngFor="let act of acts"
                  [ngClass]="act.delivered ? 'delivered' : 'missed'">
            <ion-row>
                <ion-col width-50>
                    {{act.name}}
                </ion-col>
                <ion-col width-50 class="center">
                    <button ion-button clear (click)="updateAct(act)">
                        <ion-badge [color]="act.delivered && act.score >= 60 ||
                                            act.type ? 'perf' : 'danger'">
                            {{act.delivered ? act.score : '-'}}
                        </ion-badge>
                    </button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
