page-student-activities {
    ion-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .table-row {
        align-items: center!important;
        border-bottom: 0.55px solid #c8c7cc!important;
    }

    .center {
        text-align: center;
    }

    .missed {
        border-left: 4px solid color($colors, danger)!important;
    }
}
